*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* border: 2px solid red; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul, ol,a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header, .flex {
    font-size: 18px;
    display:flex;
    justify-content: center;
}
header {
    background-color: #1f2937;
    color: #E5E7EB;
    padding-bottom: 100px;
}
.wrapper-header, .top,  .footer {
    width: 1000px;
}
.wrapper-top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 100px;

    p {
        font-size: 24px;
        font-weight: bold;
        color: #F9FAF8;
     }
    ul {
        display: flex;
        gap: 1rem;
    }
}

.wrapper-text{
    display: flex;
    gap: 2rem;
    .img {
        flex: none;
        width: 450px;
        height: 200px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .btn-sign{
        background-color: #3882f6;
        color: inherit;
        font-weight: bold;
        border: none;
        padding: 8px 24px;
        border-radius: 10px;
        margin-top: 13px;

    }
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}
.top {
    text-align: center;
    margin-bottom: 80px;

    h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .wrap-cards{
        display: flex;
        justify-content: space-evenly;
            font-size: 14px;


        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 130px;
        }
        .box-img{
            height: 120px;
            width: 120px;
            border: 3px solid #3882f6;
            border-radius: 10px;
            margin-bottom: 0.5rem;
        }
    }
}

.quote {
    background-color: #E5E7EB;
}

.mid {
    width: 700px;
    padding: 100px 0;
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
    .mid-author{
        font-weight: bold;
        font-size: 16px;
        text-align: right;
    }
}
